@import 'mixin';
@import 'style';

//=============================================================================================================================================================================

body {
  font-family: 'Playfair Display';
  font-feature-settings: 'pnum' on, 'lnum' on;
  &.menu-open {
    overflow: hidden;
    touch-action: none;
  }
}

input {
  font-feature-settings: 'pnum' on, 'lnum' on;
  cursor: pointer;
}

.title {
  @include adaptiv-value('font-size', 30, 24);
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.calendarElement {
  position: absolute;
  // right: 0;
  z-index: 5;
  bottom: 30%;

  @media (max-width: 530px) {
    bottom: 0;
    right: -25px;
  }
  @media (max-height: 530px) {
    bottom: -25%;
  }
}

.calendarWrapper {
  max-height: 325px;
  overflow: auto;
}

.scroll-bar {
  scrollbar-color: rgb(157, 163, 190, 0.75) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(157, 163, 190, 0.65);
    cursor: pointer;
    border-radius: 5px;
  }
}

//=============================================================================================================================================================================

.header {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  z-index: 15;
  background: #fff;

  &__body {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include adaptiv-value('font-size', 60, 30);
    @include adaptiv-value('margin-right', 120, 0);
    color: #000;

    &:active {
      color: initial;
    }
  }

  &__menu {
    flex: 1 1 auto;
  }
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__list {
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 5px;
  }

  &__list li a {
    color: #434141;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #000;
    }
  }
}

.phone-header {
  display: flex;
  column-gap: 10px;
  align-items: center;

  &__number {
    color: #434141;
    transform: translate(0, -20%);

    &:hover {
      color: #000;
    }

    text-decoration-line: underline;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__icon {
    position: relative;
    @include adaptiv-value('width', 32, 20);
    @include adaptiv-value('height', 32, 20);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__phone {
    img {
      min-width: 100%;
    }
  }
}

.icon-menu {
  @media (max-width: 767px) {
    display: block;
    position: fixed;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 15;

    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: 50%;
      transform: translateY(-50%) scale(1);
    }

    &.active {
      span {
        transform: translateY(-50%) scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &::after {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 767px) {
  .menu-header {
    position: absolute;
    z-index: 15;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;

    flex-direction: column;

    font-size: 22px;
    font-weight: 600;
    padding: 60px 0 20px 0;
    row-gap: 20px;
    background: rgba(157, 163, 190, 0.9);

    transition: left 0.3s ease 0s;
    will-change: left;

    &.active {
      left: 0;
    }
  }

  .menu-header__list {
    flex-direction: column;
    row-gap: 20px;
  }
}

//=============================================================================================================================================================================

main {
  @include adaptiv-value('padding-top', 80, 50);
  // min-width: 100vh;
  flex: 1 1 auto;
  // height: 100%;
  min-height: 100vh;
}

//=============================================================================================================================================================================

.fullscreen {
  display: flex;
  min-height: 100vh;
  position: relative;
  @include adaptiv-value('padding-top', 80, 50);

  .container {
    display: flex;
    flex: auto;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding-top: 10vh;
    @include adaptiv-value('padding-bottom', 40, 0);

    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 1 auto;
    justify-content: space-between;
    row-gap: 50px;
  }
}

.fullscreen__text {
  display: flex;
  // color: #fff;
  flex-direction: column;
  row-gap: 10px;
  // flex: 1 1 auto;
}

.text-fullscreen__title {
  font-weight: 500;
  @include adaptiv-value('font-size', 32, 20);

  @include adaptiv-value('line-height', 35, 26);
}

.text-fullscreen__adress {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.text-fullscreen__adress-text {
  @include adaptiv-value('font-size', 20, 15);
}

.search-form {
  display: flex;
  width: 480px;
  min-height: 190px;
  cursor: pointer;
  @include adaptiv-value('font-size', 23, 13);
  background: rgba(157, 163, 190, 0.75);

  backdrop-filter: blur(2px);
  @include adaptiv-value('border-radius', 20, 10);

  &__form {
    flex: 1 1 auto;

    display: flex;

    input {
      font-feature-settings: 'pnum' on, 'lnum' on;

      text-align: center;
      padding: 12px 0;
      width: 100%;
      height: 119px;
      background: transparent;
      @include adaptiv-value('font-size', 20, 18);
    }
  }

  &__calendar-panel {
    display: flex;
    flex: 0 0 66%;
    position: relative;
  }

  &__label {
    position: absolute;
    top: auto;
    bottom: 15px;
    text-align: center;
    width: 100%;
    pointer-events: none;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__item {
    flex: 1 1 33.33%;
    position: relative;
    align-items: center;
    @include adaptiv-value('row-gap', 25, 15);

    &:nth-child(2) {
      border-right: 0.5px solid rgba(255, 255, 255, 0.15);
      border-left: 0.5px solid rgba(255, 255, 255, 0.15);
    }

    &::before {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
      content: '';
      width: 0;
      height: 0;
      border-bottom: 8px solid #fff;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      transition: all 0.3s ease 0s;
    }

    &.active {
      &:before {
        transform: translate(-50%, 0) rotate(180deg);
      }
    }
  }

  &__search {
    height: 72px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.15);
    background: inherit;

    input {
      background: transparent;
      font-size: 20px;
    }

    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  &__search-icon {
    position: relative;
    @include adaptiv-value('width', 32, 20);
    @include adaptiv-value('height', 32, 20);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.fullscreen__down-btn {
  font-size: 60px;
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background: none;
  color: #fff;
}

//=============================================================================================================================================================================

.quest-select {
  opacity: 0;
  cursor: auto;
  // height: auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -105%;
  right: 0%;
  z-index: 5;
  width: 285px;
  max-height: 350px;
  overflow: auto;
  background: #fff;
  padding: 20px 15px 0 15px;
  display: flex;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  pointer-events: none;

  &.active {
    opacity: 1;
    top: -220%;
    pointer-events: all;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  &__control {
    padding: 20px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
  }

  &__finish {
    padding: 7px 12px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1px;
  }

  &__add {
    padding: 5px 12px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
  }
}

.room-select {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  row-gap: 17px;

  &__row {
    width: 100%;
    display: flex;
    column-gap: 10px;
  }

  &__column {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    row-gap: 12px;
  }

  &__input {
    cursor: auto;

    text-align: center;
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #000;
    height: auto;
    background: none;
    font-size: 16px;
  }

  &__selector {
    position: relative;

    button {
      position: absolute;
      background: rgba(0, 0, 0, 0.15);
      border-radius: 10%;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);

      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 1.5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
      }

      &:disabled {
        opacity: 0.5;
        cursor: auto;
      }
    }

    .plus {
      right: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 1.5px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: rgba(0, 0, 0, 0.5);
      }
    }

    .minus {
      left: 10px;
    }
  }

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__delete {
    background: transparent;
  }
}

.kid-select {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  row-gap: 10px;

  &__age {
    padding-left: 3px;
  }

  &__column {
    display: flex;
    row-gap: 12px;

    flex-direction: column;
  }

  &__control {
    position: relative;
  }

  &__view {
    border-radius: 2px;
    padding: 7px 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 14px;

    .triangle {
      border-top: 5px solid rgb(157, 163, 190);
      right: 10px;
    }
  }

  &__list {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    height: 0;
    background: #fff;
    border: 1px solid black;

    z-index: 5;
    position: absolute;
    top: 90%;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    pointer-events: none;
    visibility: hidden;

    li {
      margin: 0 5px;
      padding: 5px;
      transition: all 0.1s ease 0s;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background: rgba(157, 163, 190, 0.75);
      }

      &:first-child {
        margin-top: 5px;
      }

      &:last-child {
        margin-bottom: 5px;
      }
    }

    &.active {
      height: 83px;
      top: 100%;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__error {
    padding: 7px 5px;
    background-color: #cc2d2d;
    border-radius: 1px;
    position: relative;
    color: #fff;
    font-size: 14px;

    &::after {
      content: '';
      position: absolute;
      top: -35%;
      transform: rotate(-180deg);
      right: 7px;
      width: 0;
      height: 0;
      border-top: 10px solid #cc2d2d;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      transition: all 0.3s ease 0s;
    }
  }
}

//=============================================================================================================================================================================

@media (min-width: 1120px) {
  .fullscreen__down-btn {
    display: block;
  }
}

@media (max-width: 530px) {
  .search-form__calendar-panel {
    flex-direction: column;
  }

  .quest-select {
    width: 100%;
    top: -100%;
    &.active {
      top: -220%;
    }
  }

  .fullscreen__body {
    align-items: center;
    padding-top: 5vh;
  }

  .search-form__item {
    text-align: center;
    border: none;

    &::before {
      border-bottom: 8px solid #000;
    }

    &:nth-child(2) {
      border: none;
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    }

    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  }

  .search-form {
    max-width: 300px;
    width: 100%;
  }

  .search-form__form {
    display: block;
    min-width: 250px;
  }

  .search-form__search {
    border: none;
  }
}

@media (max-height: 530px) {
  .quest-select {
    top: -50%;
    &.active {
      top: -110%;
    }
  }
}
//=============================================================================================================================================================================

.scroll-wrapper {
  scroll-margin-top: 60px;
}

.about {
  padding-top: 35px;
  padding-bottom: 35px;

  border-bottom: 1px solid #827979;
  text-align: left;

  &__body {
    position: relative;
    opacity: 0;
    transition: all 0.5s ease 0s;
    transform: translateY(30px);

    will-change: transform, opacity;

    &.active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &__title {
    @include adaptiv-value('font-size', 30, 24);
    // line-height: 30px;

    margin-bottom: 25px;

    span {
      padding-top: 5px;
      @include adaptiv-value('font-size', 22, 16);
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 28px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include adaptiv-value('font-size', 18, 16);
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .about {
    p {
      display: none;
    }
  }
}

//=============================================================================================================================================================================

.comfort {
  background: url(../../public/img/rooms/room__blur2.png) center center/cover no-repeat fixed;
  text-align: center;

  position: relative;
  color: #fff;
  &__body {
    background: rgb(5, 27, 115, 0.3);

    padding: 50px 0;
  }

  &__title {
    font-weight: 500;
    @include adaptiv-value('font-size', 30, 24);

    @include adaptiv-value('padding-bottom', 70, 20);
  }
}

.row-comfort {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  row-gap: 60px;

  &__item {
    display: flex;
    flex: 0 1 15%;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }

  &__icon {
    position: relative;
    width: 65px;
    height: 65px;
    svg {
      width: 100%;
      height: 100%;
    }
    svg * {
      fill: #fff;
      width: initial;
    }
  }
}

@media (max-width: 509px) {
  .row-comfort {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    &__title {
      font-size: 16px;
    }

    &__item {
      flex-direction: row;
      column-gap: 20px;
    }
    &__icon {
      width: 45px;
      height: 45px;
    }
  }
}
//=============================================================================================================================================================================
//=============================================================================================================================================================================
//=============================================================================================================================================================================

.booking {
  padding-bottom: 30px;

  background-color: #f8f8f8;
  text-align: center;

  &__body {
    // background: #9da3be;
    background: lighten($color: #9da3be, $amount: 5%);
    text-align: center;
    padding: 15px;
    height: 100%;
  }

  &__title {
    @include adaptiv-value('font-size', 24, 20);
    @include adaptiv-value('margin-top', 40, 20);

    @include adaptiv-value('margin-bottom', 30, 20);
    text-transform: uppercase;
  }

  &__content-container {
    max-width: 650px;
    margin: 0 auto;
  }
}

.form-booking__title {
  @include adaptiv-value('font-size', 20, 18);
  font-weight: 450;
  line-height: 30px;

  text-transform: uppercase;
  padding: 30px 0 20px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
}

.booking-input {
  position: relative;
  flex: 1 0 auto;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  }

  input {
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    background-color: darken($color: #f8f8f8, $amount: 0%);
    font-size: 18px;
    padding-left: 15px;
    border-radius: 3px;
  }

  &_padding {
    input {
      padding-left: 65px;
    }
  }
}
//=============================================================================================================================================================================

.form-booking {
  padding: 0 0 25px;
  position: relative;

  &__submit {
    margin-top: 50px;
    @include adaptiv-value('font-size', 20, 18);

    min-width: 250px;
    padding: 10px 0;

    background-color: darken($color: #f8f8f8, $amount: 0%);

    transition: all 0.3s ease 0s;
    width: 54%;

    &:hover {
      background: darken(#d9d9d9, 3%);
    }
  }
}
//=============================================================================================================================================================================

.form-date {
  padding: 35px 0 32px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  position: relative;

  &__calendar {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
  }

  &__title {
    align-self: start;
    @include adaptiv-value('font-size', 22, 18);
  }

  &__item {
    flex: 0 1 50%;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    height: 24px;
    width: 24px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
//=============================================================================================================================================================================

.form-quests {
  margin-top: 30px;
  text-align: left;
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);

  &__title {
    margin-bottom: 15px;
    @include adaptiv-value('font-size', 22, 20);
  }

  &__subtitle {
    font-weight: 400;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: start;
  }

  &__room-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;

    span {
      @include adaptiv-value('font-size', 20, 14);
    }

    margin-bottom: 10px;
  }

  &__room {
    padding: 15px 5px;
    transition: background-color 0.2s ease 0s;
    border-radius: 3px;
  }

  &__room_hovered {
    background-color: darken($color: #9da3be, $amount: 3%);
  }

  &__room_hovered .form-quests__room-delete span {
    border-bottom: 0.1px dotted #000;
  }

  &__room-delete {
    background: transparent;

    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__item {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__kid {
    position: relative;
    cursor: auto;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    input {
      cursor: auto;
    }
  }

  .delete {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    background: transparent;

    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 18%;
      top: 50%;
      position: absolute;
      width: 20px;
      height: 2px;
      transition: all 0.3s ease 0s;
      background: rgba(0, 0, 0, 0.8);
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.add-item {
  background: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-top: 20px;
  font-size: 18px;
  color: #3b3939;
  cursor: pointer;

  position: relative;
  transition: color 0.3s ease 0s;

  margin-bottom: 20px;

  &:hover {
    color: #000;

    &::before,
    &::after {
      background: #000;
    }
  }

  &::before,
  &::after {
    content: '';

    position: absolute;

    display: block;
    height: 13px;
    width: 2px;
    background: #434141;
    right: -15px;
    top: 9px;
  }

  &::after {
    content: '';

    transform: rotate(-90deg);
  }
}

.quests-child {
  display: flex;
  flex: 1 1 auto;

  &__input {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &.display-none {
    display: none;
  }
}

.quests-child__icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    transform: translate(0, -50%);

    background: rgba(0, 0, 0, 0.7);
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    width: 2px;
    height: 20px;
    background: rgba(0, 0, 0, 0.7);
  }
}

.quests-icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(0, -50%);
}

.triangle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid #9da3be;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: all 0.3s ease 0s;

  &.active {
    transform: rotate(-180deg);
  }
}

@media (max-width: 767px) {
  .booking {
    &__body {
      padding: 0;
    }

    &__form {
      padding: 10px;
    }
  }

  .form-booking__title {
    display: none;
  }

  .form-date {
    display: block;
    padding: 20px 0 0 0;

    &__item {
      margin-bottom: 30px;
    }
  }

  .form-quests__row {
    display: block;
  }

  .form-quests__item {
    flex: 0 1 50%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .form-booking__submit {
    margin-top: 10px;
  }
  //=============================================================================================================================================================================
}
//=============================================================================================================================================================================

.booking-panel {
  margin: 25px 0;
  &__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
    font-size: 20px;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &_prev {
      left: 0;
    }
    &_next {
      right: 0;
    }
  }
}

//=============================================================================================================================================================================

.booking__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 30px;
  row-gap: 40px;

  &_only-one {
    grid-template-columns: repeat(auto-fit, minmax(280px, 33%));
  }

  &-item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr / 1fr;
    // width: 33%;

    border: 1px solid #000;
    border-radius: 3px;
    transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    &:hover {
      transform: translate(0, -1px);
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    }
  }

  &-slider {
    position: relative;
    padding-bottom: 60%;
  }

  &-name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &-item-info {
    padding: 20px;
    text-align: left;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-cost-column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: end;
  }

  &-price {
    font-size: 20px;
    font-weight: 600;
    align-self: start;
  }

  &-night-quests {
    font-weight: 500;
    color: rgb(0, 0, 0, 0.65);
  }

  &-button {
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 3px;
    background: #acb1c8;
    color: #fff;
  }
  &-show {
    align-self: start;
    padding: 20px 10px;
    @include adaptiv-value('font-size', 24, 16);
    background: transparent;
    border: #000 solid 1px;
    border-radius: 3px;
    justify-self: start;
  }
}

//=============================================================================================================================================================================

.selection-booking {
  &__title {
    @include adaptiv-value('font-size', 24, 18);
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
  }
}

.rooms-selection {
  flex: 1 0 70%;
}

.card-selection {
  display: flex;
  flex-direction: column;

  overflow: visible;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__item {
    border: 1px solid #9da3be;
    border-radius: 5px;
    box-shadow: 0 0 2px #9da3be, 0 4px 8px #9da3be;
  }
}

.room-info {
  display: flex;
  margin-bottom: 20px;

  &__slider {
    position: relative;
    flex: 0 0 40%;
  }

  &__info {
    flex: 0 0 60%;
    padding: 20px 10px 10px;
  }

  &__text {
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;

    text-align: left;
    text-overflow: ellipsis;
  }

  &__icons {
    margin: 15px 0;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.parameters-room {
  display: flex;
  column-gap: 10px;
  align-items: center;

  &__item {
    display: flex;
    column-gap: 10px;

    align-items: center;
  }

  &__icon {
    position: relative;
    width: 24px;
    height: 24px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.menu-selection {
  flex: 0 0 30%;
  padding-left: 20px;
  max-width: 280px;

  &__body {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px 0;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  &__total {
    padding-top: 15px;
  }

  &__total-price {
    font-size: 18px;
    margin: 0 10px 15px 10px;
    text-align: right;
  }

  &__continue {
    padding: 0px 10px;
  }
}

.date-selection {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);

  &__nights {
    text-align: left;
    background: rgb(217, 217, 217, 0.9);

    padding: 10px 20px;
  }
  &__row {
    margin: 0 auto;
    padding: 10px 20px;
    align-items: center;

    display: flex;
    justify-content: center;
    column-gap: 10px;
    span {
      display: inline-block;
      width: 15px;
      height: 1px;
      background: #000;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}

.apartments-selection {
  &__body {
    max-height: 500px;
    overflow: auto;
  }
}

.room-apartments {
  font-size: 14px;
  text-align: left;
  &__display {
    width: 100%;
    padding: 10px 20px;
    background: rgb(217, 217, 217, 0.9);
    font-feature-settings: 'pnum' on, 'lnum' on;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__room-type {
    text-align: left;
    line-height: 18px;
    position: relative;
    &::before {
      content: '˄';
      font-size: 20px;
      position: absolute;
      top: 1px;
      right: 0;
      transition: all 0.3s ease 0s;
    }

    &.open {
      &::before {
        content: '˄';
        transform: rotate(-180deg);
      }
    }
  }
}

.info-room-apartments {
  padding: 0px 10px;
  line-height: 15px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  box-sizing: content-box;

  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  will-change: max-height;

  &__item {
    font-size: 12px;
    padding: 10px 0px;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
  }

  &__item:not(:last-child) {
    border-bottom: 1px dashed #000;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__price {
    flex: 0 0 30%;
    text-align: right;
  }
  &__discount {
    span {
      font-size: 14px;
      font-weight: 600;
      color: darken($color: #9da3be, $amount: 20%);
    }
  }
}

.service-room-apartments {
  margin-top: 10px;
  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
//=============================================================================================================================================================================

.tariffs {
  &__item {
    padding: 0px 20px;
  }

  &__row {
    padding: 15px 0px;

    border-top: 1px solid rgb(0, 0, 0, 0.15);

    display: flex;
    justify-content: space-between;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__clause {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    text-align: left;
    font-size: 16px;
    line-height: 22px;
  }

  &__panel {
    flex: 0 0 40%;
  }

  &__nights {
    text-align: right;
    margin-bottom: 10px;
  }

  &__rooms {
    display: flex;
    flex-direction: column;
  }

  &__room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    column-gap: 10px;

    transition: background 0.1s ease 0s;
    &:hover {
      background: rgb(217, 217, 217, 0.5);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__info-row {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__quests {
    display: flex;
  }

  &__price {
    position: relative;
    font-size: 20px;
  }

  &__price-sale {
    display: flex;
    justify-content: end;
    font-size: 14px;
    column-gap: 5px;
  }
  &__sale {
    text-decoration: line-through;
    padding: 2px;
  }
  &__discount {
    display: inline-block;
    border-radius: 1px;
    background: #8f9bcd;
    color: #fff;
    padding: 2px;
    font-weight: 600;
  }

  &__input {
    position: relative;
    height: 37px;
    max-width: 150px;
    flex: 1 1 auto;
    border: 1px solid #acb1c8;
    border-radius: 3px;
    transition: box-shadow 0.1s ease 0s;
    background: #fff;

    &:hover {
      box-shadow: inset 0 0 0 0 transparent, 0 0 0 1px #9da3be, 0 0 0 3px #acb1c8;
    }

    & .triangle {
      right: 10px;
      border-top: 8px solid #9da3be;
      cursor: pointer;
    }

    input {
      top: 0;
      left: 0;
      padding-left: 10px;

      position: absolute;
      background: transparent;
      width: 100%;
      height: 100%;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    position: relative;
    align-self: start;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.blue {
  font-weight: 500;
  color: #3b4d98;
}

.icon-with-text {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

//=============================================================================================================================================================================
//=============================================================================================================================================================================
//=============================================================================================================================================================================

.rooms {
  background-color: #f8f8f8;
}

.rooms__header {
  height: 40vh;
  background: url('../../public/img/rooms/room1.jpg') center center / cover no-repeat;
  backdrop-filter: blur(100px);
}

.main-rooms {
  @include adaptiv-value('padding-top', 40, 10);
  @include adaptiv-value('padding-bottom', 70, 0);

  background: #acb1c8;

  &__row {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
  }

  &__column {
    flex: 1 1 50%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    flex: 0 1 50%;
    position: relative;
    // padding-right: -15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @include adaptiv-value('font-size', 36, 24);

    margin-bottom: 30px;
    font-weight: 500;
  }

  &__text {
    @include adaptiv-value('font-size', 24, 17);
    margin-bottom: 60px;
    line-height: 34px;
  }
}

.time {
  @include adaptiv-value('margin-left', 35, 0);

  display: flex;
  align-items: center;

  justify-content: space-between;

  &__trans {
    width: 1px;
    @include adaptiv-value('height', 200, 100);
    background: #827979;
    margin: 0 10px;
  }

  &__item {
    display: flex;
    align-items: center;

    flex-direction: column;
    row-gap: 20px;
  }

  &__info {
    @include adaptiv-value('font-size', 25, 14);
    font-weight: 500;
  }

  &__clock {
    @include adaptiv-value('font-size', 26, 20);
  }
}

@media (max-width: 1160px) {
  .main-rooms {
    .container {
      padding: 0;
    }

    padding-bottom: 0;
  }

  .main-rooms__column {
    text-align: center;
    padding: 20px;
  }

  .main-rooms__text {
    margin-bottom: 40px;
  }

  .main-rooms__row {
    flex-direction: column;
  }

  .main-rooms__img {
    padding-bottom: 40%;
  }

  .time {
    margin: 0;
    justify-content: center;
    column-gap: 50px;
  }

  .time__item {
    margin: 0;
    flex: 0 1 30%;
  }

  .time__trans {
    margin: 0;
  }

  .time__info {
    span {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .main-rooms__text {
    display: none;
  }

  .main-rooms__img {
    padding-bottom: 60%;
  }

  .time__item {
    margin: 0;
    flex: 0 1 10%;
  }
}

//=============================================================================================================================================================================

.gallery {
  margin-top: 60px;

  &__row {
    display: flex;
    column-gap: 10px;
    @include adaptiv-value('margin-bottom', 60, 30);
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-around;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }
}

.room-card {
  display: flex;
  flex: 0 1 45%;

  &__column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__info {
    // margin-top: 30px;
    flex: 1 0 auto;
  }

  &__title {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;

    justify-content: space-between;
    // color: #000;

    a {
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__cost {
    display: flex;
    column-gap: 10px;
    @include adaptiv-value('font-size', 22, 20);

    span.opacity {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  &__text {
    line-height: 150%;
    @include adaptiv-value('font-size', 22, 20);
    padding-right: 40px;
  }

  &__btn {
    align-self: start;
    width: 60%;
    min-width: 250px;
    @include adaptiv-value('font-size', 26, 20);
    line-height: 112%;
    background: #9da3be;
    padding: 15px 0 20px;
  }

  &__slider {
    cursor: pointer;
    padding-top: 60%;
    position: relative;
  }
}

.slider {
  overflow: hidden;

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1 0 80%;
    position: relative;
  }

  &__prev,
  &__next {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 5;
    height: 80px;
    width: 40px;
  }

  &__prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &__next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  ._icon-arrow_left,
  ._icon-arrow_right {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  ._icon-arrow_left {
    left: 13px;
  }

  ._icon-arrow_right {
    right: 13px;
  }

  &__img {
    // padding-bottom: 50%;
    height: 100%;
    // transition: all 0.3s ease 0s;
    transition: opacity 0.7s ease 0s, transform 0.5s ease 0s;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.activeSlide {
      opacity: 1;
      transform: translateX(0);
    }

    &.lastSlide {
      transform: translateX(-100%);
    }

    &.nextSlide {
      transform: translateX(100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.hover-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(157, 163, 190, 0.65);
  backdrop-filter: blur(1px);
  opacity: 0;
  transition: all 0.5s ease 0s;

  &__icons {
    width: 100%;
    padding: 25px;
    display: flex;
    row-gap: 20px;
    column-gap: 30px;
    flex-wrap: wrap;

    // grid-auto-flow: row;
  }

  &__icon {
    position: relative;
    width: 40px;
    height: 40px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__quests {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &:hover {
    opacity: 1;
  }
}

.hover-quests {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__icon {
    img {
      width: 32px;
      height: 32px;
    }
  }

  &__number {
    font-size: 30px;
    // margin-right: 50px;
  }
}

.gallery-slider {
  width: 100%;
  flex: 0 0 15%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 10px 0;
  column-gap: 10px;
  overflow: auto;
  padding-bottom: 5px;

  &__item {
    position: relative;
    flex: 0 0 20%;
    cursor: pointer;

    img {
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 960px) {
  .gallery__row {
    display: block;
    // flex-direction: column;
  }

  .gallery .container {
    padding: 0;
  }

  .room-card__column {
    margin-bottom: 40px;
    row-gap: 30px;
  }

  .room-card__info {
    padding-left: 15px;
  }

  .room-card__btn {
    margin: 30px 15px 0;
    align-self: center;
  }
}

@media (max-width: 1150px) {
  .room-card__cost {
    // display: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: end;

    // justify-content: start;
    span {
      display: none;

      &.no-opacity {
        order: 1;
      }

      &.opacity {
        order: 2;
      }
    }
  }

  // .room-card__title {
  // 	align-items: start;
  // }
}

//=============================================================================================================================================================================

//=============================================================================================================================================================================

.room {
  // padding-top: 50px;
  background-color: #f8f8f8;

  &__body {
    padding-top: 30px;
    display: grid;

    grid-template-columns: 1fr 3fr;

    grid-template-areas: 'side-bar main-room';
    position: relative;
  }
}

@media (max-width: 967px) {
  .room__body {
    display: flex;
    flex-direction: column;
  }

  .special-main {
    &__body {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 700px) {
  .menu-room {
    order: 2;
    margin-bottom: 30px;
  }

  .main-room {
    order: 1;
  }

  // .main-room__subti

  .gallery-slider {
    display: none;
  }

  .main-room .main-room__view {
    margin-bottom: 30px;
    padding-top: 50%;
  }

  // .main__room .main-room__view {
  // 	padding-top: 50%;
  // }
}

.menu-room {
  grid-area: side-bar;

  &__body {
    padding: 10px;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 15px;
    @include adaptiv-value('font-size', 20, 16);
  }

  &__links {
    padding: 15px 20px 20px;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);

    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    // row-gap: 5px;

    li {
      line-height: 20px;
      padding: 10px 10px;
      transition: background 0.1s ease 0s;

      &:has(a.active) {
        border-bottom: none;
        background-color: rgb(157, 163, 190, 0.7);
        pointer-events: none;
      }
    }
  }

  &__link {
    font-size: 16px;
    color: #000;
    border-bottom: 1px dotted #000;

    &:hover {
      border-bottom: none;
    }

    &.active {
      border-bottom: none;
      // background-color: #9DA3BE;
    }
  }
}

.main-room {
  grid-area: main-room;

  &__body {
    padding: 10px;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 10px;
    @include adaptiv-value('font-size', 24, 16);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  &__subtitle {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__info {
    display: flex;
    column-gap: 20px;
    // line-height: math.div(,);
    line-height: 25px;
    margin-bottom: 5px;
    flex-wrap: wrap;

    span {
      font-size: 20px;
      // @include adaptiv-value("font-size", 20, 14);
      color: darken($color: rgba(157, 163, 190), $amount: 20%);
    }
  }

  &__link {
    // line-height: 45px;
    background: rgba(157, 163, 190);
    padding: 13px 20px;
    border-radius: 2px;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.7px;
    align-self: center;
    text-align: center;
  }

  &__view {
    position: relative;
    padding-top: 80%;
  }

  &__text {
    margin: 0px 0 20px;
    line-height: 22px;
  }

  &__icons {
    margin-bottom: 20px;
  }
}

.icons {
  display: flex;
  column-gap: 4px;
  row-gap: 4px;

  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px;
    background-color: #d9d9d9;
  }
  &__icon {
    position: relative;
    width: 24px;
    height: 24px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.premium-main {
  margin-bottom: 30px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__list {
    li {
      position: relative;

      padding-left: 23px;
      line-height: 20px;

      &::before {
        content: '';

        position: absolute;
        left: 0;
        top: 2.5px;
        display: inline-block;
        background: url('../../public/img/svg/star.svg') 0 0 / cover no-repeat;
        height: 15px;
        width: 15px;
        fill: #9da3be;
        // color: #9DA3BE;
        // margin-left: 5px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.special-main {
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;

    // row-gap: 10px;
    margin-bottom: 40px;
    column-gap: 20px;
    row-gap: 20px;
    // align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;

    row-gap: 15px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    li {
      padding-left: 15px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        left: 0;
        top: 5px;
        border-radius: 50%;
        background: #9da3be;
      }
    }
  }

  &__icon {
    position: relative;
    width: 27px;
    height: 27px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 14px;
  }
}

//=============================================================================================================================================================================
.result {
  // @include adaptiv-value("margin-top", 80, 30);

  color: rgba(0, 0, 0, 0.7);

  @include adaptiv-value('font-size', 20, 16);

  &__body {
    background: rgb(224, 227, 247, 0.7);
    padding: 10px 15px;
  }

  &__row {
    cursor: pointer;

    max-width: 400px;

    padding: 15px 15px;
    display: flex;
    column-gap: 5px;

    background: #f8f8f8;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgba(0, 0, 0, 0.27),
      0 0 0 1px hsla(0, 0%, 45%, 0.27);
    transition: box-shadow 0.3s ease 0s, background 0.3s ease 0s;

    &:hover {
      box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgba(0, 0, 0, 0.27),
        0 0 0 1px hsla(0, 0%, 45%, 0.27), 0 0 2px #9da3be, 0 4px 8px #9da3be;
    }

    &.disable-result {
      cursor: auto;
      pointer-events: none;
      background: darken($color: #f8f8f8, $amount: 6%);
      // box-shadow: none;
    }
  }

  &__quests {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 10px;
  }

  &__icon {
    position: relative;
    width: 20px;
    height: 20px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__room-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
  }
  &__date {
    line-height: 18px;
  }
}

@media (max-width: 960px) {
  // .result {

  // 	margin: 0;
  // }
}

//=============================================================================================================================================================================

.contacts {
  margin-top: 40px;
  padding: 30px 0 0 0;
  // background: rgb(157, 163, 190, 0.8);
  line-height: 22px;
  overflow: hidden;

  &__body {
    // padding-bottom: 30px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 24px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    column-gap: 20px;
    row-gap: 25px;
  }
}

@media (max-width: 1000px) {
  .contacts .contacts__row {
    flex-direction: column;
    align-items: start;
  }
}

.phones-contacts {
  &__phone {
    &:hover {
      text-decoration: underline;
    }
  }

  &__email {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    li {
      display: flex;
      column-gap: 10px;
      justify-content: space-between;
    }
  }
}

.map {
  width: 100%;
  height: 45vh;
}

//=============================================================================================================================================================================

.form {
  &__title {
    margin-bottom: 15px;
    @include adaptiv-value('font-size', 24, 18);
    text-align: left;
    &_weight {
      font-weight: 500;
    }
  }
}

.form-blok {
  padding-bottom: 30px;
  border-bottom: 1px solid #acb1c8;
  margin: 20px 0;
  &_dashed {
    border-bottom: 1px dashed #acb1c8;
  }
}

.social-form {
  &__body {
    padding: 20px;
  }
  &__warning {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 120%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 20px;
    row-gap: 15px;
    margin-bottom: 30px;
    @media (max-width: 648px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__checkbox-column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.social-form__error {
  align-self: start;

  padding: 7px 5px;
  background-color: #cc2d2d;
  border-radius: 2px;
  position: relative;
  color: #fff;
  font-size: 14px;
  &:before {
    content: '';
    position: absolute;
    top: -35%;
    transform: rotate(-180deg);
    left: 7px;
    width: 0;
    height: 0;
    border-top: 10px solid #cc2d2d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
}

.visitors-form {
  &__rooms-column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__body {
    padding: 20px;
    text-align: left;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
    // border-bottom: 1px solid #acb1c8;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #acb1c8;
  }
  &__input-wrapper {
    flex: 0 1 25%;
    min-width: 150px;
  }
  &__delete {
    // background: #000;
  }
  &__add-visitor {
    display: inline-block;
  }
  &__add-visitor.add-item::before,
  .add-item::after {
    top: 4px;
  }
}

.textarea-form__item {
  min-width: 100%;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  // height: 100px;

  box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgba(0, 0, 0, 0.27),
    0 0 0 1px hsla(0, 0%, 45%, 0.27);

  transition: box-shadow 0.3s ease 0s;

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgba(0, 0, 0, 0.27),
      0 0 0 1px hsla(0, 0%, 45%, 0.27), 0 0 2px #9da3be, 0 4px 8px #9da3be;
  }
}

.payments-form {
  &__body {
    padding: 10px 5px 5px 5px;
    text-align: left;
  }

  &__agreement {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
  }

  &__item {
    border-top: 1px solid rgb(0, 0, 0, 0.4);
    padding: 15px 10px;
    transition: all 0.1s ease 0s;
    line-height: 120%;
    &:hover {
      background: #e8e8e8;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__header-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: start;
  }

  &__title {
    @include adaptiv-value('font-size', 20, 16);
    font-weight: 600;
  }

  &__subtitle {
    // @include adaptiv-value('font-size', 18, 14);
    opacity: 0.5;
  }

  &__header-icons {
    display: flex;
    align-items: start;
    column-gap: 5px;
  }

  &__header-icon {
    position: relative;
    width: 32px;
    height: 20px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__row {
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__text {
    text-align: left;
    // padding-right: 50px;
    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__pay {
    // padding-right: 10px;
    margin-right: 10px;
    text-align: right;
    flex: 1 0 auto;
  }

  &__prepay {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    &_b {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__cost {
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox-label::after {
  transform: scale(1);
}
.checkbox-label:hover::before,
.checkbox__input:checked + .checkbox-label::before {
  box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgba(0, 0, 0, 0.27),
    0 0 0 1px hsla(0, 0%, 45%, 0.27), 0 0 2px #9da3be, 0 4px 8px #9da3be;
}

.checkbox-label {
  font-size: 16px;
  display: flex;
  padding: 5px;
  align-items: center;
  line-height: 120%;
  text-align: left;
  position: relative;
  background: #ebebeb;
  border-radius: 2px;
  cursor: pointer;
  &::before {
    content: '';
    position: relative;
    top: 1px;
    min-width: 20px;
    height: 20px;
    background: #d4d8e6;
    margin-right: 10px;
    align-self: flex-start;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgba(0, 0, 0, 0.27),
      0 0 0 1px hsla(0, 0%, 45%, 0.27);
    transition: box-shadow 0.2s ease 0s;
  }

  &:after {
    content: '✓';
    color: #fff;
    position: absolute;
    left: 8px;
    top: 5px;
    font-size: 20px;
    transition: all 0.1s ease 0s;
    transform: scale(0);
  }

  span {
    flex: 1 1 content;
  }
}

.form-blok-border {
  border: 1px solid #000;
  border-radius: 5px;
}

.colored {
  color: #435dc8;
}

@media (max-width: 797px) {
  .payments-form__row {
    display: block;
  }

  .payments-form__header {
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }

  .payments-form__text {
    margin-bottom: 30px;
  }
}

//=============================================================================================================================================================================

.footer {
  padding: 30px 0;
  background: #212020;

  &__menu {
    position: relative;
    display: flex;
    justify-content: center;
    @include adaptiv-value('column-gap', 260, 0);
  }

  &__menu li a {
    color: #fff;
    transition: all 0.3s ease 0s;
  }

  &__menu::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 976px) {
  .footer__menu {
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
  }

  .footer__menu::after {
    transform: translate(-50%, -40%) rotate(90deg);
  }
}
//=============================================================================================================================================================================
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

//=============================================================================================================================================================================
