{
	"extends": [
		"react-app",
		"react-app/jest"
	],
	"rules": {
		"no-console": "warn",
		"prefer-const": "warn",
		"semi": [
			"warn",
			"always"
		],
		"import/order": [
			"warn",
			{
				"groups": [
					"builtin",
					"external",
					"internal",
					[
						"sibling",
						"parent"
					],
					"index",
					"unknown"
				],
				"newlines-between": "always-and-inside-groups"
			}
		]
	}
}